.bd-top{
    margin-top: 150px;
}

.bd-video{
    
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.bd-video video{
    max-width: 100%;
}

.bd-Bigtitle{

    display: flex;
    justify-content: center;
    padding: 30px;
    color: rgba(25,25,25,0.58);
    font-weight: 800;
    font-size: 40px;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;

}

.bd-author{
    color: rgba(25,25,25,0.58);
    font-weight: 600;
    display: flex;
    justify-content: end;
}
.n-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background: yellow;
    
}
.n-Div{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.n-paragraph{
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 400;
    width: 600px;
}

img, svg {
    vertical-align: middle;
    max-width: 100%;
}

.imgDiv{
    background: orange;
}