body{
    background:#f4eed3 ;
}




.n-video{
    
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.n-video video{
    max-width: 100%;
    padding: 2rem 0rem;
}

.n-Bigtitle{

    display: flex;
    justify-content: center;
    padding: 30px;
    color: rgba(25,25,25,0.58);
    font-weight: 800;
    font-size: 60px;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;

}

.n-author{
    color: rgba(25,25,25,0.58);
    font-weight: 600;
    display: flex;
    justify-content: end;
    
}

.n-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    background: #ffe684;
    border-radius: 60px;
    padding: 2rem 0rem;
}
.n-Div{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    background: #eacfb2;
    border-radius: 60px;
    padding: 2rem ;
}

.n-imgDiv{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
   
    border-radius: 60px;
}
.n-paragraph{
    padding: 2rem;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 400;
    width: 1000px;
}
.n-imgDiv img,
.n-Div img{
    width: 100%;
}

.imgDiv{
    width: 50rem;
    
}




@media (min-width:768px) {
.starImg{
    position: absolute;
    z-index: 20;
    max-width: 5rem;
    left: 10%;
    top: 240%;
    animation: moveBeer ease-in-out 4s infinite;
}
}
@media (max-width:768px) {
    .starImg{
        display: none;
        position: absolute;
        z-index: 20;
        max-width: 5rem;
        left: 10%;
        top: 240%;
        animation: moveBeer ease-in-out 4s infinite;
    }
    }

@keyframes moveBeer{
    0% {
    transform: rotate(0deg);
    left: 0%;
  }
  50% {
    transform: rotate(15deg);
    left: 10%;
  }
  100% {
    transform: rotate(-15deg);
    left: 0%;
  }
}
