.d-title{
    margin-top: 150px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 700;
    color: rgba(79,142,193,0.97);
    height: 50px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.d-top-left-title{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.d-top-left-title span{
    color: #c46919;
    font-weight: 700;
    font-size: 28px;
}

.d-top-right p{
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    padding: 10px;
}
.d-top-left-content{
    display: contents;
    justify-content: center;
    font-weight: 700;
    width: 70%;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    line-height: 1.9em;
}

.d-top-left-content p{
    font-size: 100%;
}


/* second-part */

.d-sec{
    margin-top: 50px;
}